
.clear{
    clear: both;
}

.my-desings{
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.my-desings li {
    float: left;
    margin: 10px;
    width: calc( 50% - 20px );
    height: auto;
    border: 2px solid #525252;
    cursor: pointer;
}

.my-desings li img{
    width: 100%;
    height: auto;
}

.my-desings li .my-pages{
    display: none;
}

.swiper-container {
    width: 100%;
    height: 350px;
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide .name{
    position: absolute;
    top: 47%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.swiper-slide .date-of-brith{
    position: absolute;
    top: 53%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.color-picker{
    width: 100%;
}